@font-face {
	font-family: Cinzel;
	src: url("rsc/Znikomit.otf") format("opentype");
}
@font-face {
	font-family: Elegant;
	src: url("rsc/elegant.otf") format("opentype");
}

@font-face {
	font-family: CinzelEot;
	src: url("rsc/MadameKlara.eot");
}
@font-face {
	font-family: ElegantEot;
	src: url("rsc/ElegantEot.eot");
}

body{
	margin: 0;
	padding: 0;
	/*background: url(images/horsebgcolor.jpg) no-repeat center center fixed; */
	background: whitesmoke;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Elegant, ElegantEot;
}

.header{
	font-family: Cinzel, CinzelEot;
	padding: 5px;
	background: rgba(255,255,255,1);
	font-weight: 600;
	border-bottom: 1px solid rgb(226, 226, 226);
	color: rgb(89, 89, 89);
}

.header .logo{
	border-radius: 100%;
	border: 1px solid rgb(226, 226, 226);
	vertical-align: middle;
}

.header .header-wraper{
	text-align: center;
  	margin: 0 auto;
}

.header div.logo-name{
	  display: inline-block;
	  vertical-align: middle;
	  text-align: left;
	  margin-left: 10px;
	  border-right: 1px solid rgb(210, 210, 210);
	  padding: 5px 30px 5px 0;
	  margin-right: 30px;
}
.header div>span{
	display: block;
	vertical-align: middle;
	font-size: 1.5em;
}
.header span.year-created{
	  font-size: 0.8em;
	  font-weight: 600;
	  margin-left: 2px;
}

.header .menu-header{
	vertical-align: middle;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	font-family: Elegant;
}
.header .menu-header>span{
	display: inline-block;
	margin: 0 15px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.header .menu-header>span:first-child{
	margin-left: 0px;
}

.header .menu-header>span:hover{
	border-bottom: 1px solid #010fc7;
}

.header-image{
	height:300px;
	background-image: url(images/archiwalne.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 -50px;
}

.wrapper{
	padding-bottom:0px;
}

.body{
	width: 1000px;

	margin: 0 auto;
	/*background: rgba(255, 255, 255, 0.75);*/
	box-sizing: border-box;
	margin-top: 18px;
}

.footer{
	color: white;
	background: rgb(39, 39, 39);
	font-size: 0.95em;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}
.footer a, .footer a:link, .footer a:visited{
	color: #535FFF;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.copy{
	font-family: Arial;
}

h1, h2, h3, h4, h5{
	font-family: Cinzel, CinzelEot;
	margin:0;
	padding:0;
	clear:both;
}

h1{
	font-size: 2.5em;
	padding: 3px 0;
	border-bottom: 1px solid rgb(210, 210, 210);;
}

.body p{
	font-size: 1.25em;
	text-indent: 50px;
}

.body p img{
	width: 180px;
  	float: left;
  	margin: 10px;
}
.last-news{
	text-align: center;
	margin: 20px 0;
}
.last-news>div{
	display: inline-block;
}

.last-news-row:hover{
	transform: scale(1.03);
}

.last-news-row{
	width: 250px;
	text-align: left;
	margin: 0 20px;
	vertical-align: top;
	font-size: 1.1em;
	padding: 10px;
	background: white;
	cursor: default;
	border: 1px solid rgb(228, 228, 228);

	-webkit-transition: all 0.2s ease-in-out; /* Safari */
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.last-news-header{
	font-weight: 600;
	margin: 10px 0;
}
.last-news-content{
	text-align: justify;
	min-height: 150px;
}
.last-news-read-more{
	margin-top:20px;
	text-align: right;
	font-size:0.9em;
	color: #010fc7;
}
.last-news-read-more:hover{
	text-decoration: underline;
	cursor: pointer;
}


@media all and (min-width:1401px){
	body{
		font-size: 16px;
	}
	.header .logo{
		height: 64px;
		width: 64px;
	}
}

@media all and (min-width:1071px) and (max-width:1400px) {
	body{
		font-size: 14px;
	}
	.header .logo{
		height:64px;
		width: 64px;
	}

	.last-news-content{
		min-height: 140px;
	}

	.header-image{
		height:250px;
		background-position: 0 -20px;
	}

}

@media all and (max-width:1070px) {
	body{
		font-size: 12px;
	}
	.header .logo{
		height: 64px;
		width: 64px;
	}
	.header div.logo-name{
		display: block;
		text-align: center;
	}
	.header div>span{
		margin-left: 0;
	}
	.header span.year-created {
		margin-left: 5px;
	}
	h1{
		font-size: 2em;
	}
	.header div>span{
		font-size: 2em;
	}

	.body{
		width: 100%;
		padding:10px;
	}

	.last-news-content{
		min-height: 100px;
	}

	.header-image{
		height:150px;
		background-position: 0 -0px;
	}
	.header div.logo-name{
		border-right: none;
		padding-right: 0;
		margin-right: 0;
		margin-left: 0;
	}

	.last-news-row{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media all and (max-width:1070px) {
	.header-image{
		height:100px !important;
		background-position: 0 -0px;
	}
}