@font-face {
	font-family: Cinzel;
	src: url("rsc/cinzel.otf") format("opentype");
}
@font-face {
	font-family: Elegant;
	src: url("rsc/elegant.otf") format("opentype");
}

body{
	margin: 0;
	padding: 0;
	background: url(images/horsebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Elegant;
	font-size: 16px;
}

.header{
	text-align: center;
	font-family: Cinzel;
	padding:30px;
	background: rgba(255,255,255,1);
}

.header>.logo{
	height: 160px;
	width: 160px;
	border-radius: 100%;
	border: 1px solid rgb(226, 226, 226);
	vertical-align: middle;
}
.header>div{
	display: inline-block;
	vertical-align: middle;
	text-align: left
}
.header>div>span{
	display: block;
	vertical-align: middle;
	/*font-size: 50px;*/
	font-size: 3.15em;
	margin-left:40px;
}
.header span.year-created{
	font-size:1.25em;
	font-weight: 600;
	margin-left: 45px;
}

.menu{
	font-family: Elegant;
	
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	border-top: 1px solid rgb(226, 226, 226);
	border-bottom: 1px solid transparent;
	font-size: 1.25em;

	-webkit-transition: all 0.2s ease-in-out; /* Safari */
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.menu>span{
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	position: relative;
	top:1px;

	-webkit-transition: all 0.2s ease-in-out; /* Safari */
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu>span:hover{
	border-bottom: 1px solid #010fc7;
}

.menu.menu-fixed{
	position:fixed;
	top:0;
	width: 100%;
	background: white;
	border-bottom: 1px solid rgb(226, 226, 226);
	border-top: none;
}

.menu.menu-fixed>span {
	/*padding: 5px 15px;*/
	top: 0;
}

.wrapper{
	padding-bottom:10px;
}

.body{
	width: 1000px;
	padding: 20px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	margin-top: 18px;
}

.footer{
	font-size: 0.95em;
	text-align: center;
	margin-top:10px;
}
.footer a, .footer a:link, .footer a:visited{
	color: #010fc7;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.copy{
	font-family: Arial;
}

h1, h2, h3, h4, h5{
	font-family: Cinzel;
	margin:0;
	padding:0;
	clear:both;
}

h1{
	font-size: 2.5em;
	text-align: center;
}
h1:after{
	content: "";
	display: block;
	background: transparent url(images/szlaczek.gif) no-repeat;
	height: 15px;
	background-position: center;
	background-size: 265px 15px;
	margin-bottom: 10px;
}

.body p{
	font-size: 1.25em;
	text-indent: 50px;
}

.body p img{
	width: 180px;
  	float: left;
  	margin: 5px;
}
.last-news{
	text-align: center;
	margin: 20px 0;
}
.last-news>div{
	display: inline-block;
}

.last-news-row{
	width: 250px;
	text-align: left;
	margin: 0 20px;
	vertical-align: top;
}
.last-news-header{
	font-weight: 600;
	margin: 10px 0;
}
.last-news-content{
	text-align: justify;
	min-height: 140px;
}
.last-news-read-more{
	margin-top:20px;
	text-align: right;
	font-size:0.9em;
	color: #010fc7;
}
.last-news-read-more:hover{
	text-decoration: underline;
	cursor: pointer;
}
